<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
        <strong>BS</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                Home
            </a>

        </li>
        <li>

            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-duplicate"></i>
                Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="/Category/Index">CATEGORYS</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">PRODUCTPROPERTİES</a></li>
                <li><a href="#">PROPERTYS </a></li>
                <li><a href="#">USERS  </a></li>
            </ul>
        </li>
        <li class="active">
            <a href="#">
                <i class="feather icon-log-out"></i>
                LogOut
            </a>

        </li>
    </ul>


</nav>
