<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/Admin/Index">
            <h3>Admin Panel</h3>
            <strong>AP</strong>
        </a>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/Admin/Index">
                <i class="glyphicon glyphicon-home"></i>
                Home
            </a>
            <a href="/Cafe/Index">
                <i class="glyphicon glyphicon-home"></i>
                Visit Web Site
            </a>

        </li>
        <li>

            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-duplicate"></i>
                Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="/Category/Index">CATEGORYS</a></li>
                <li><a href="/Product/Index">PRODUCTS</a></li>
                <li><a href="/ProductProperty/Index">PRODUCT PROPERTİES</a></li>
                <li><a href="/Property/Index">PROPERTYS </a></li>
                <li><a href="/User/Index">USERS  </a></li>
            </ul>
        </li>
        <li class="active">
            <a href="/Security/LogOut">
                <i class="feather icon-log-out"></i>
                LogOut
            </a>

        </li>
    </ul>


</nav>
