
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .ui-widget {
        position: relative;
        display: inline-block;
        width: 190px;
        height: 190px;
        margin: 30px;
        border: 15px solid #00aeef;
        border-radius: 150px;
        text-align: center;
        font-family: Arial, sans-serif;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.8), inset 0 3px 5px rgba(0,0,0,.25);
        box-sizing: border-box;
        border-bottom-color: #fff
    }

        .ui-widget .ui-value {
            position: absolute;
            left: 0;
            right: 0;
            top: 15px;
            font-size: 40px;
        }

        .ui-widget .ui-label {
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            font-size: 14px;
            text-transform: uppercase;
            color: #888;
            font-weight: 700
        }
</style>
<div ng-app="HomeApp" ng-controller="HomeController">
    <div class="row" style="justify-content:center;display:flex;">

        <div class="ui-widget" ng-init="GetProductsCount();GetProductsTotalMany();GetOrderCount();">
            <h1 class="ui-value"><a id="productcount"></a></h1>
            <span class="ui-label">Product Count</span>
        </div>

        <div class="ui-widget">
            <h1 class="ui-value"><a id="GetProductsTotalMany"></a></h1>
            <span class="ui-label">Total Price</span>
        </div>

        <div class="ui-widget">
            <h1 class="ui-value"><a id="GetOrderCount"></a></h1>
            <span class="ui-label">Order Count</span>
        </div>

    </div>
    <div class="row">
        <table c class="table table-bordered table-striped mb-0" ng-init="GetOrderTable()" style="height: 80px; overflow: auto;margin-top:150px ">
            <thead>
                <tr>
                    <td style="padding:20px">Name and Surname</td>
                    <td style="padding:20px">Mail</td>
                    <td style="padding:20px">Phone</td>
                    <td style="padding:20px">Message</td>
                    <td style="padding:20px">Product </td>
                </tr>
            </thead>
            <tbody id="body">

                <tr ng-repeat="e in orderTable" ng-click="openModal(e)">
                    <td>{{e.NameSurName}}</td>
                    <td>{{e.Mail}}</td>
                    <td>{{e.phone}}</td>
                    <td>{{e.optional}}</td>
                    <td>{{e.ProductName}}</td>
                    <td><input type="button" class="btn btn-success" ng-click="complete(e)" value="Complete" /></td>

                </tr>


            </tbody>
        </table>
    </div>

</div>
<script src="~/Scripts/angular.min.js"></script>
<script>
    var app = angular.module("HomeApp", []);

    app.controller("HomeController", function ($scope, $http,) {


        setInterval(function () {
            $scope.GetProductsCount();
            $scope.GetProductsTotalMany();
            $scope.GetOrderCount();
            $scope.GetOrderTable();
        }, 10000);

        $scope.GetProductsCount = function () {
            var url = '/Admin/GetProductsCount', data = 'parameters', config = 'contenttype';

            $http.post(url, data, config).then(function (response) {
                $("#productcount").html(response.data);
            }, function (response) {
                toastr.error("Error")
            });
        }
        $scope.GetProductsTotalMany = function () {
            var url = '/Admin/GetProductsTotalMany', data = 'parameters', config = 'contenttype';

            $http.post(url, data, config).then(function (response) {
                $("#GetProductsTotalMany").html("$" + response.data);
            }, function (response) {
                toastr.error("Error")
            });
        }
        $scope.GetOrderCount = function () {
            var url = '/Admin/GetOrderCount', data = 'parameters', config = 'contenttype';

            $http.post(url, data, config).then(function (response) {
                $("#GetOrderCount").html(response.data);
            }, function (response) {
                toastr.error("Error")
            });
        }
        $scope.GetOrderTable = function () {
            var url = '/Admin/GetOrderTable', data = 'parameters', config = 'contenttype';

            $http.post(url, data, config).then(function (response) {
                $scope.orderTable = response.data;
            }, function (response) {
                toastr.error("Error")
            });
        }

        $scope.complete = function (x) {
            var data = {
                id: x.id,
            };

            $http.post('/Admin/CompleteOrder', JSON.stringify(data)).then(function (response) {
                $scope.orderTable = response.data
                toastr.success("Successfull")


            }, function (response) {

                $scope.msg = "Service not Exists";

                $scope.statusval = response.status;

                $scope.statustext = response.statusText;

                $scope.headers = response.headers();

            })

        }




    });
</script>





