
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="HomeApp" ng-controller="HomeController">


    <div class="row pt-4 pb-4 " style="justify-content: space-around; display: flex; align-items: center">
        <button type="button" class="btn btn-primary" ng-click="GetProductTable();GetProductPropertyTable();ProductPropertyName=''" data-toggle="modal" data-target="#Add">
            Add ProductProperty
        </button>
        <div class="col-5">

            <input type="text" class="form-control" id="textbox" placeholder="Search..." />
        </div>
    </div>
    <div class="row">



        <table c class="table table-bordered table-striped mb-0" ng-init="GetTable()" style="height: 80px; overflow: auto; ">
            <thead>
                <tr>
                    <td style="padding:20px">Product id</td>
                    <td style="padding:20px">Property id</td>

                </tr>
            </thead>
            <tbody id="body">

                <tr ng-repeat="e in productpropertys" ng-click="openModal(e)">
                    <td>{{e.ProductName}}</td>
                    <td>{{e.Key}} {{e.Value}}</td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">ProductProperty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label for="formGroupExampleInput">Product</label></br>
                            <select ng-model="product">
                                <option ng-repeat="option in products" class="form-control" value="{{option.id}}">{{option.ProductName}}</option>
                            </select>
                        </div>
                        <div class="col">

                            <label for="formGroupExampleInput">Properties</label></br>

                            <select ng-model="productproperty">
                                <option ng-repeat="option in productproperties" class="form-control" value="{{option.id}}">{{option.Key+' '+option.Value}}</option>
                            </select>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" ng-click="DeleteProductProperty()" id="addProductProperty">Delete ProductProperty</button>
                    <button type="button" class="btn btn-primary" ng-click="updateProductProperty()" id="addProductProperty">Update ProductProperty</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add ProductProperty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                    <div class="col">
                        <label for="formGroupExampleInput">Product</label></br>
                        <select ng-model="product">
                            <option ng-repeat="option in products" class="form-control" value="{{option.id}}">{{option.ProductName}}</option>
                        </select>
                    </div>
                    <div class="col">

                        <label for="formGroupExampleInput">Properties</label></br>

                        <select ng-model="productproperty">
                            <option ng-repeat="option in productproperties" class="form-control" value="{{option.id}}">{{option.Key+' '+option.Value}}</option>
                        </select>


                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="addProductProperty()">Add ProductProperty</button>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script>
    var app = angular.module("HomeApp", []);

    app.controller("HomeController", function ($scope, $http,) {
        $scope.GetProductTable = function () {
            var url = '/Product/GetList', data = 'parameters', config = 'contenttype';

            $http.post(url, data, config).then(function (response) {
                $scope.products = response.data;
            }, function (response) {

                toastr.error("Error")

            });
        }

        $scope.GetProductPropertyTable = function () {
            var url = '/Property/GetList', data = 'parameters', config = 'contenttype';

            $http.post(url, data, config).then(function (response) {
                $scope.productproperties = response.data;
            }, function (response) {

                toastr.error("Error")

            });
        }
        $scope.GetTable = function () {
            var url = '/ProductProperty/GetList', data = 'parameters', config = 'contenttype';

            $http.post(url, data, config).then(function (response) {
                console.log(response.data)

                $scope.productpropertys = response.data;

            }, function (response) {

                toastr.error("Error")


            });
        }
        $scope.updateProductProperty = function () {
            var data = {
                id: $scope.id,
                ProductId: $scope.product,
                PropertyId: $scope.productproperty
            };

            $http.post('/ProductProperty/UpdateProductProperty', JSON.stringify(data)).then(function (response) {
                console.log(response.data)
                $scope.productpropertys = response.data
                toastr.success("Successfull")

                $('#Modal').modal('hide');

            }, function (response) {

                $scope.msg = "Service not Exists";

                $scope.statusval = response.status;

                $scope.statustext = response.statusText;

                $scope.headers = response.headers();

            });

        }
        $scope.DeleteProductProperty = function () {
            var data = {
                id: $scope.id
            };

            $http.post('/ProductProperty/DeleteProductProperty', JSON.stringify(data)).then(function (response) {
                console.log(response.data)
                $scope.productpropertys = response.data
                toastr.success("Successfull")

                $('#Modal').modal('hide');

            }, function (response) {

                $scope.msg = "Service not Exists";

                $scope.statusval = response.status;

                $scope.statustext = response.statusText;

                $scope.headers = response.headers();

            });

        }

        $scope.addProductProperty = function () {
            var data = {
                ProductId: $scope.product,
                PropertyId: $scope.productproperty
            };

            $http.post('/ProductProperty/AddProductProperty', JSON.stringify(data)).then(function (response) {
                if (response.data == 0) {
                    toastr.error("Hass Ben Added Before")
                }
                else if (response.data == -1) {
                    toastr.error("Must Be Selected")
                }
                else {
                    $scope.productpropertys = response.data
                    toastr.success("Successfull")
                    $('#Add').modal('hide');
                }


            }, function (response) {

                $scope.msg = "Service not Exists";

                $scope.statusval = response.status;

                $scope.statustext = response.statusText;

                $scope.headers = response.headers();

            });
        }




        $scope.openModal = function (ProductProperty) {

            $scope.GetProductPropertyTable();
            $scope.GetProductTable();
            $scope.id = ProductProperty.id;
            $scope.product = ProductProperty.ProductId;
            $scope.productproperty = ProductProperty.PropertyId;
            $('#Modal').modal('show');
        }
    });</script>


<script>
    $(document).ready(function () {
        $("#textbox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>


